{% extends "layout/base.html" %}
{% block head %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ config.url }}/articles.xml" />
{% endblock %}
{% block presidebar %}
    <h2>Recent Posts</h2>
    <p>
    {% for article in articles.on_index %}
        - <a href='/article/{{ article.slug }}'>{{ article.title }}</a>
        <br />
    {% endfor %}
    </p><br /><hr /><br />
{% endblock %}
{% block content %}
    {% for article in articles.on_index %}
        {% if had_article %}<hr class='article' />{% endif %}
        <div class='article'>
            <h1><a href='/article/{{ article.slug }}'>{{ article.title }}</a></h1>
            {{ article.content }}
            <p class='suffix'>
                <a href='/article/{{ article.slug }}'>view</a>
                // posted on {{ article.date }} at {{ article.time }}
            </p>
        </div>
        {% set had_article = True %}
    {% endfor %}
{% endblock %}
