<h2>Code</h2>

<p>Most of the code referenced on this blog is available on my GitHub
account here:</p>

<p><a href="https://github.com/xb95">github.com/xb95</a></p>

<h2>Contact</h2>

<p>Twitter: <code><a href="http://twitter.com/#!/xb95">@xb95</a></code><br />
Freenode IRC: <code>xb95</code><br />
Send Email: <code><a href="mailto:mark@qq.is">mark@qq.is</a></code><br />
Google Talk: <code>smitty@gmail.com</code></p>

<h2>About</h2>

<p>Mark Smith is an engineer specializing in systems administration.
He has worked for the likes of Google, Mozilla, StumbleUpon, and Bump
doing a bit of everything.</p>

<p>Mark has a family (girlfriend, two small boys, and a cat) and lives
in Mountain View, California. One day he wants to move far away from
people and be a consultant or contractor.</p>
