<h2>Code</h2>

<div>Most of the code referenced on this blog is available on my GitHub
account here:</div>

<div><a href="https://github.com/xb95">github.com/xb95</a></div>

<h2>Contact</h2>

<div>Twitter: <code><a href="http://twitter.com/#!/xb95">@xb95</a></code><br />
Freenode IRC: <code>xb95</code><br />
Send Email: <code><a href="mailto:mark@qq.is">mark@qq.is</a></code><br />
Google Talk: <code>smitty@gmail.com</code></div>

<h2>About</h2>

<div>Mark Smith is an engineer specializing in highly available systems.
He has worked for the likes of Google, Mozilla, StumbleUpon, and Bump
doing a bit of everything.</div>

<div>Mark has a family (girlfriend, two small boys, and a cat) and lives
in Mountain View, California. One day he wants to move far away from
people and own some land.</div>
