<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/aurora.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>{% block pagetitle %}{{ self.title() }}{% endblock %}</h1>
      <h2>{% block subtitle %}just a blog around town{% endblock %}</h2><br />
      <hr />
    </div><!-- end header -->

    <div id="left">
      {% block sidebar %}
        <h3>Content</h3>
        <p>Some sort of content goes here, supposedly.</p>

        <h3>More Content</h3>
        <p>Even more, here!</p>
      {% endblock %}
    </div>

    <div id="main">
      {% block content %}
        <h3>Stuff and Nonsense</h3>
        <p>It's time for a big lorem ipsum block!</p>
      {% endblock %}
    </div>

    <div id="footer">
      <hr />
        <p class="left">| <a href=
          "http://jigsaw.w3.org/css-validator/">CSS</a> | <a href=
          "http://validator.w3.org/check?uri=referer">HTML5</a>
          |</p>

        <p class="right">Powered by <a href="https://github.com/xb95/aurora">Aurora</a></p>

        <p>&nbsp;</p>
    </div>
  </div>
</body>
</html>
