<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/aurora.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block pagetitle %}{{ self.title() }}{% endblock %}
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
        <footer>
            Powered by <a href="https://github.com/xb95/aurora">Aurora</a>
        </footer>
    </body>
</html>
